* {
	box-sizing: border-box;
}

body {
	background-color: $teal;
	color: $color__text-main;
	font-family: Brown, sans-serif;
}
ul {
	list-style: none;
}

header {
	box-sizing: border-box;
	@extend .z-depth-2;
	background-color: $teal;
    padding: 10px;
    position: fixed;
    top: 0;
    text-decoration: none;
    height: 50px;
    width: 100%;
    z-index: 10;
	.site-logo img {
		height: 35px;
	}
	.arrow-back img {
		height: 40px;
		padding: 5px;
		position: absolute;
		top: 6px;
		left: 10px;
	}
	.nav-header-text {
		margin-top: -20px;
		text-align: center;
		color: #fdf9f4;
		h4 {
			font-size: 2.28rem;
			line-height: 110%;
			margin: 1.14rem 0 0.912rem 0;
		}
	}
}

#content {
	margin-top: 65px;
}

.div .collapsible-header {
	background-color: $teal;
}